*{
margin: 0px;
padding: 0px;
}

body {
 background-color: #c4c4c4; 
 text-align: center;
}

#div {
  background-color: rgb(177, 177, 177);
  padding: 10px;
  border-radius: 5%;
  border: 3cm;
  color: #091b12;
}

.image-txt-container {
  align-items: center;
  display:flex;
  flex-direction: row;
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  color:#091b12;
}

.image-txt-container1 {
  align-items: center;
  display:flex;
  flex-direction: row;
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  color:#091b12;
}

.image-txt-container2 {
  align-items: center;
  display:flex;
  flex-direction: row;
  width: 958px;
  margin-left: auto;
  margin-right: auto;
  color:#091b12;
}

/* STYLE TEXT */

header {
  background-color: #143f29;
}

.title {
  color: #ffffff;
  font-family: monospace;
  font-size: 50px;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

#main1 {
  color: #091b12;
  font-family: monospace;
  font-size: 17px;
  text-align: center;
  border-radius: 50%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 35%;
  margin-left:35%;
}

p {
  font-size: 20px;
  max-width: 1000px;
  font-family: monospace;
  color: #091b12;
}

#p2 {
  width: 390px;
  margin-left: 40px;
  color: #091b12;
}

#small {
  font-size: 15px;
}

/* STYLE IMAGES */

#img1 {
  margin-right: 1cm;
}

#img2 {
  margin-left: 1cm;
}

#img3 {
  margin-right: 1cm;
  max-height: 350px;
}

img {
  max-width: 37%;
  border-radius: 5%;
  border: 3cm;
  margin-top: 1em;
  margin-bottom: 1em;
}

#fact {
  font-size: 20px;
  font-family: monospace;
  color: #091b12;
}

/* STYLE NAV BAR */

ul {
  list-style-type: none;
  background-color: #181818;
  overflow: hidden;
  font-family: monospace;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  color: #cde7da;
  font-size: .6cm;
  padding: 1.5em;
  font-family: monospace;
}

li a:hover {
  background-color: #0c2e1b;
}


/* STYLE BUTTON */

#myButton {
  background-color: #17492f;
  font-size: 20px;
  color: #d2e7d2;
  cursor: pointer;
  padding: 6px 10px;
  font-family: monospace;
}

.alert {
  padding: 20px;
  background-color: #e6e6e6;
  color: #091b12;
  font-family: monospace;
  font-size: 18px;
}

.closebtn {
  margin-left: 15px;
  color: #091b12;
  font-weight: bold;
  float: right;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
}


/* STYLE VIDEO */

iframe {
  width: 528px;
  height: 297px;
}

